footer {
    display: flex;
    justify-content: space-between;
    background-color: #849A89;
    margin-top: 1rem;
    padding: 3rem;
}

.footerLogo {
    width: 5%;
    margin-right: 10rem;
}

.footer {
    margin-top: 1.6rem;
}